<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Diri</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>

<body style="margin: 0; padding: 0">
    <section class="h-100" style="background-color: #6b414a;">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="card" style="border-radius: 1rem">
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">

                            <form method='post' enctype="multipart/form-data">
                                <div class="form-outline mb-4">
                                    <label class="form-label ms-1" for="form2Example17">Nama Calon Karyawan</label>
                                    <input type="text" class="form-control" name="namaCalon" required>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label ms-1" for="form2Example17">NIK Calon Karyawan</label>
                                    <div class="d-flex flex-row w-100">
                                        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1'); cekNIK(this);" class="form-control me-2" name="NIK" maxlength="16" pattern="[0-9]{16}" title="Panjang nomor NIK harus 16" required>
                                        <input class="form-control" name="foto_ktp" type="file" onchange="fileCheck(this);" id="formFile" accept="image/png, image/jpeg" required>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label ms-1" for="form2Example17">Jenis Kelamin</label>
                                    <div class="d-flex flex-row">
                                        <select name="kelaminCalon" id="jen_kelamin" class="form-select" required>
                                            <option value="" style="display:none;" selected>Pilih Jenis Kelamin</option>
                                            <option value="1">Laki Laki</option>
                                            <option value="0">Perempuan</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label ms-1" for="form2Example17">Tempat Tgl. Lahir</label>
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-row w-100">
                                            <input type="text" name="tempatCalon" class="form-control me-2" required>
                                            <input type="date" max="<%= tgl_max %>" name="tanggalCalon" class="form-control" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label ms-1" for="form2Example17">Jenjang Pendidikan</label>
                                    <select name="pendidikanCalon" onchange="chkSekolah(this)" class="form-select" required>
                                        <option value="" style="display:none;" selected>Pilih Jenjang Pendidikan</option>
                                        <option value="Sekolah Menengah" data-val="0">SMA/SMK</option>
                                        <option value="Kuliah" data-val="1">Kuliah</option>
                                    </select>
                                </div>

                                <div class="form-outline mb-4" id="div_sekolahCalon" style="display: none;">
                                    <label class="form-label ms-1" for="form2Example17" id="namaIns">Nama Sekolah</label>
                                    <input type="text" name="sekolahCalon" class="form-control me-2" required>
                                </div>

                                <div class="form-outline mb-4" id="div_fakultasCalon" style="display: none;">
                                    <label class="form-label ms-1" for="form2Example17">Nama Fakultas</label>
                                    <input type="text" id="fakultasCalon" name="fakultasCalon" class="form-control me-2">
                                </div>

                                <div class="form-outline mb-4" id="div_jurusanCalon" style="display: none;">
                                    <label class="form-label ms-1" for="form2Example17">Nama Jurusan</label>
                                    <div class="d-flex flex-row">
                                        <input type="text" name="jurusanCalon" class="form-control me-2" required>
                                        <input type="number" min="1900" max="<%= thn_max %>" oninput="set_max(this)" name="lulusCalon" class="form-control" placeholder="Tahun lulus" required>
                                    </div>
                                </div>

                                <div class="form-outline mb-4" id="div_ipkCalon" style="display: none;">
                                    <label class="form-label ms-1" for="form2Example17">Indeks Prestasi Kumulatif (IPK)</label>
                                    <div class="d-flex flex-row">
                                        <input type="number" step="0.01" min="2" max="4" oninput="set_max(this)" name="ipkCalon" id="ipkCalon" class="form-control me-2">
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label ms-1" for="form2Example17">Email Calon Karyawan</label>
                                    <input type="email" oninput="cekEMAIL(this)" name="email" class="form-control" placeholder="john@domain.com" required>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label ms-1" for="form2Example27">Password</label>
                                    <input type="text" name="password" id="form2Example27" class="form-control" required>
                                </div>

                                <div class="pt-1 mb-4 d-flex align-items-center">
                                    <input class="btn btn-dark btn-lg btn-block" id="btnDaftar" type="submit" value="Daftar">
                                    <p class="mb-0" id="btnLogin" style="color: #080808; display: none;">Terdapat akun yang memiliki NIK/Email yang sama, <a href="/registercalon" style="color: #393f81;">Masuk disini</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    let emailCheck;
    let nikCheck;

    function fileCheck(element) {
        var ext = element.value.match(/\.(.+)$/)[1];
        switch (ext) {
            case 'jpg':
            case 'bmp':
            case 'png':
            case 'tif':
                break;
            default:
                alert('File format tidak didukung');
                element.value = '';
        }
    }

    function chkSekolah(element) {
        document.getElementById('div_sekolahCalon').style.display = "";
        document.getElementById('div_jurusanCalon').style.display = "";
        let jns_sekolah = element.options[element.selectedIndex].getAttribute('data-val');
        if (jns_sekolah == 0) {

            document.getElementById('namaIns').innerHTML = 'Nama Sekolah'

            document.getElementById('div_fakultasCalon').style.display = "none";
            document.getElementById("fakultasCalon").required = false;

            document.getElementById('div_ipkCalon').style.display = "none";
            document.getElementById("ipkCalon").required = false;
        } else {

            document.getElementById('namaIns').innerHTML = 'Nama Universitas'

            document.getElementById('div_fakultasCalon').style.display = "";
            document.getElementById("fakultasCalon").required = true;

            document.getElementById('div_ipkCalon').style.display = "";
            document.getElementById("ipkCalon").required = true;
        }
    }

    function set_max(element) {
        if (parseInt(element.value) > element.max) {
            element.value = element.max;
        }
    }

    function cekNIK(element) {
        if (element.value) {
            const url = "/check/NIK";
            const nik = element.value;

            $.ajax({
                url: url,
                data: {
                    'nik': nik
                },
                success: function(data) {
                    if (data.FILE_NIK != null) {
                        nikCheck = data.FILE_NIK;
                    } else {
                        nikCheck = null;
                    }
                    hideElement();
                },
                method: 'post'
            });
        }
    }

    function cekEMAIL(element) {
        if (element.value) {
            const url = "/check/EMAIL";
            const email = element.value;

            $.ajax({
                url: url,
                data: {
                    'email': email
                },
                success: function(data) {
                    if (data.EMAIL != null) {
                        emailCheck = data.EMAIL;
                    } else {
                        emailCheck = null;
                    }
                    hideElement();
                },
                method: 'post'
            });
        }
    }

    function hideElement() {
        if (emailCheck != null || nikCheck != null) {
            document.getElementById('btnDaftar').style.display = "none";
            document.getElementById('btnLogin').style.display = "";
        } else {
            document.getElementById('btnDaftar').style.display = "";
            document.getElementById('btnLogin').style.display = "none";
        }
    }
</script>

</html>