<%- include('../../component/head') %>

    <div class="d-flex flex-column h-100">
        <div class="card h-100">
            <div class="card-body d-flex justify-content-center align-items-center">
                <h3> <i class="bi bi-exclamation-circle-fill me-1"></i>
                    <%= message %>
                </h3>
            </div>
        </div>
    </div>

    <%- include('../../component/footer') %>