<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPK-AHP</title>
    <link rel="stylesheet" href="/assets/css/setting-default.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
</head>

<body class="vw-100 vh-100" style="margin: 0; padding: 0">

    <div class="row w-100 h-100">
        <div class="col-2">
            <%- include('sidebar') %>
        </div>
        <div class="col-10 p-3">
            <!-- Kontennya di bawah ini -->